<div class="container">
    <div class="test-list">
        <ul *ngIf="casesList">
            <li *ngFor="let case of casesList">
                <div class="test-list__item">
                    <div class="test-list__content">
                        <div class="test-list__name">
                           <div class="test_list__main">
                                <a href="#">{{case.name || '-'}}</a>
                           </div>
                           <div class="test_list__optional">
                                <span>Last run: {{case.updatedAt | date:'medium'}}</span>
                           </div>
                        </div>
                        <div class="test-list__desc">
                            <span><b>Created at:</b> {{case.createdAt | date:'medium'}}</span>
                        </div>
                        <div class="test-list__action">
                            <a [routerLink]="['/test-builder/'+ case.id]"><i-bs name="pencil"></i-bs></a>
                            <a href="#"><i-bs name="hdd"></i-bs></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
